@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --dark-color-a: #ff6700;
    --dark-color-b: #ff9a00;
    --dark-color-c: #e6782e;
    --light-color: white;
    --light-color-b: #e6e9ff;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    padding: 5px 15px;
    background: var(--light-color);
    color: var(--dark-color-a);
    border: 0;
    font-size: 17px;
}

/* Chat Page */

.chat-window {
    position: fixed;
    width: 376px;
    bottom: 0;
    right: 0;
    font-size: 14px;
    line-height: 1.4;
    z-index: 1000;

}

.chat-container {
    z-index: 1000;
    max-width: 600px;
    background: #fff;
    height: 426px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: var(--light-color);
    position: absolute;
    display: block;
    right: 0;
    bottom: 30px;
    border-radius: 8px;
    border: 1px solid rgb(207, 210, 213);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 40px;
}

.chat-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    height: 75px;
    position: relative;
    min-height: 75px;
    color: white;
    transition: height 160ms ease-out 0s;
    background: var(--dark-color-a);
    /*background: linear-gradient(135deg, var(--dark-color-a) 0%, var(--dark-color-b) 100%);*/
}

.chat-header h2 {
    margin-left: 10px;
}

.chat-header a {
    background-color: var(--dark-color-a);
    color: var(--light-color);
    font-size: 2rem;
}

.chat-header-inner {
    display: flex;
    text-align: left;
    justify-content: flex-start;
    flex-direction: column;
}

.chat-header-inner h2 {
    margin-left: 0;
}

.chat-main {
    display: grid;
    grid-template-columns: 1fr;
}

.chat-sidebar {
    background: var(--dark-color-b);
    color: #fff;
    padding: 20px 20px 60px;
    overflow-y: scroll;
}

.chat-sidebar h2 {
    font-size: 20px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
}

.chat-sidebar h3 {
    margin-bottom: 15px;
}

.chat-sidebar ul li {
    padding: 10px 0;
}

.chat-messages {
    padding: 30px;
    min-height: 330px;
    height: 330px;
    overflow-y: scroll;
}

.chat-messages .message {
    display: flex;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: var(--light-color);
    border-radius: 5px;
}

.chat-messages .message .meta {
    font-size: 15px;
    font-weight: bold;
    color: var(--dark-color-c);
    opacity: 0.7;
    margin-bottom: 7px;
}

.chat-messages .message .meta span {
    color: #777;
}

.chat-messages .message.userMessageContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.chat-messages .message.staffMessageContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.chat-messages .message .staffMessage {
    display: flex;
    max-width: 75%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /*background-color: rgb(245, 245, 245);*/
    background-color: var(--light-color-b);
    padding: 17px 20px;
    border-radius: 5px;
}

.chat-messages .message .userMessage {
    display: flex;
    max-width: 75%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*background-color: rgb(209, 109, 27);*/
    background-color: var(--dark-color-c);
    padding: 17px 20px;
    border-radius: 5px;
    color: white;
}

.chat-form-container {
    background-color: var(--dark-color-a);
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 200px;
    border: 1px solid rgb(230, 230, 230);
    width: 100%;
}

.chat-form-container input[type=text]:focus
{
    outline:0;
}
/*.chat-form-container form {
}*/

/*.chat-form {
    position: absolute;
    bottom: 0;
    right: 0;
    min-height: 56px;
    max-height: 200px;
    border-top: 1px solid rgb(230, 230, 230);
}*/

.chat-form-container input[type='text'] {
    font-size: 14px;
    height: 40px;
    flex: 1;
    border: none;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    padding: 5px 5px 5px 15px;
}


#chat-form  {
    display: flex;
    justify-content: stretch;
}

.back-button {
    z-index: 2147483000;
    /*position: absolute;*/
    display: flex;
    width: 51px;
    height: 51px;
    /*top: 0;*/
    /*left: 0;*/
    /*background-position: center center;*/
    margin: 12px 2px 12px 8px;
    cursor: pointer;
    color: white;
}

.back-button-inner {
    width: 51px;
    height: 51px;
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    transform: translateZ(0px);
    padding: 8px;
    margin: 0px auto;
    border-radius: 8px;
}

.intercom-6a43gu {
    width: 9px;
    height: 15px;
    /*margin: 0px auto;*/
}

.chat-button {
    position: absolute;
    right: 0;
    bottom: -10px;
}

.chat-button button {
    border: none;
    background: none;
    cursor: pointer;
}
.chat-button button:focus {
    border: none;
    background: none;
    outline: none;
}

@media (max-width: 700px) {
    .chat-main {
        display: block;
    }

    .chat-sidebar {
        display: none;
    }
}
